.clipboard_text {
  @apply rounded;

  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      background-color: rgb(222, 128, 0);
      box-shadow: 0 0 4px 1px rgb(222, 128, 0);
    }
  }
}

.clipboard_text_active {
  transform: scale(1.15);
}
