.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-self: center;
  min-width: 250px;
  max-width: 250px;

  > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
  }
}
