.button {
  /* font-size: 1.1rem;
  letter-spacing: 0.15rem; */
  font-size: 1rem;
  font-weight: semibold;
  color: white;
  background-color: var(--primary-color);
  box-shadow: 0 0 6px 1px black;
  padding-block: 0.7rem;
  border-radius: 0.7rem;
  transition: box-shadow 0.2s, background-color 0.3s, color 0.3s;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      box-shadow: 0 0 4px 1px var(--primary-color);
    }
  }

  &:disabled {
    background-color: rgb(150, 78, 0);
    color: rgb(210, 210, 210);
    cursor: auto;
    box-shadow: 0 0 4px 1px black;
  }
}
