.settings {
  position: absolute;
  height: 4rem;
  width: 4rem;
  top: 1rem;
  right: 1rem;
  background-image: url('images/settings.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: scale 0.3s, opacity 0.3s;
  &:hover {
    opacity: 0.8;
    scale: 1.05;
  }
}
